@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

header{
    padding-top: 2em;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
   display: flex;
  justify-content: center;

}
h1{
  font-family: 'Sriracha', cursive;


}

.typewriter h2{ 
    font-family: 'Sriracha', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.10em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(15),
    blink-caret .75s  infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color: black; }
}

.container{
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
position: relative;
transition: 0.5s;
overflow: hidden;
}

h3{ 
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}

.container form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background : transparent;

}
::placeholder{
  color:#777;
}
.btn-bg{
  width: 100%;
  margin: 30px auto;
  text-align: center;
  
}
form button{
  width: 110px;
  height: 35px;
  margin: 0px 10px;
  background :linear-gradient(to right, #ff105f,#f54295);
  border-radius:30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#page2 { 
  left: 450px;
}

#page3{
  left: 450px;
}

.step-row{
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col{

  width: 120px;
  text-align: center;
  color: #333;
  position: relative;
}

#progress{
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right,#ff105f,#f54295);
}
#progress::after{
content: '';
height: 0;  
width: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
position: absolute;
right: -20px;
top: 0;
border-left: 20px solid #f54295;
}